
/*All are div elements*/


#headline {
    background-color : black;
    color : white;
    font-family : 'sans-serif';
    font-size : 18px;
    font-variant : small-caps;
    font-weight : bold;
  }


#technote {
 font-family : 'sans-serif';
    font-size : 13px;
  }


.infoblock {
    font-family : 'sans-serif';
    font-size : 13px;
    margin-right : 10px;
  }


.infoname {
    background-color : #fff0dd;
    font-family : 'sans-serif';
    font-size : 13px;
    font-weight : bold;
  }


.langmatch {
font-family : 'sans-serif';
    font-size : 13px;
  }


.langundefined {
font-family : 'sans-serif';
    font-size : 13px;
  }


.langnomatch {
font-family : 'sans-serif';
    font-size : 13px;
  }

