
/* info.css */


body {
    background-color : #f0f0f0;
  }

/******* Welcome message *********/



body.welcome-wrapper {
    background-color: #f0f0f0;
  }

/* The name of the font */



#welcome-font {
    margin-right : 16px;
    color : white;
    font-size : 10pt;
  }


.welcome-par {
    margin-right: 16px;
    margin-left: 32px;
    background-color: #f0f0f0;
    color: #ddd;
  }

/* Qt seems to not so well handle heritance */



.welcome-listitem {
    text-indent: 20px;
    background-color: #f0f0f0;
    color: #ddd;
  }

/******* Informations ************/


#headline {
    text-shadow: #99b 4px 4px 2px;
    background-color : #ddd;
    color : white;
    /* display : inline;
    */ font-family : 'sans-serif';
    font-size : 18pt;
    font-weight : bold;
    line-height : 30pt;
    padding-bottom : 4pt;
    padding-left : 6pt;
    padding-right : 4pt;
    padding-top : 4pt;
  }


#technote {
/*    background-color : #ddd;*/
    background-image : url('css-tech-info.png');
    background-repeat : repeat-x;
    color : black;
    font-family : 'sans-serif';
    font-size : 10pt;
    line-height : 10pt;
    margin-bottom : 10pt;
    text-align : center;
  }


.infoblock {
    font-family : 'sans-serif';
    font-size : 11pt;
    /* border-bottom : 1px dashed white;
    */ margin-bottom: 7pt;
    text-indent : 3px;
  }

/*.infoblock  a {
    color:#a44;
  }*/



.infoname {
    background-color : #aac;
    background-image : url('css-info-propertyname.png');
    background-repeat : repeat-y;
    float : left;
    font-family : 'sans-serif';
    font-size : 10pt;
    font-style : italic;
    line-height : 200%;
    margin-right : -30pt;
    padding-left : 3pt;
    padding-top : 2px;
    width : 150px;
  }


.langmatch {
    background-color : #fff0dd;
    background-image : url('css-shadow.png');
    background-position : top left;
    background-repeat : repeat-y;
    border-top-color : #aac;
    border-top-style : solid;
    border-top-width : 2px;
    border-right-color : #aac;
    border-right-style : solid;
    border-right-width : 2px;
    font-family : 'sans-serif';
    font-size : 10pt;
    margin-left : 140px;
    margin-top: -2px;
    line-height : 140%;
    padding-bottom : 0;
    padding-left : 25px;
    padding-right : 1em;
    padding-top : 2px;
  }


.langundefined {
    background-color : #fff0dd;
    background-image : url('css-shadow.png');
    background-position : top left;
    background-repeat : repeat-y;
    border-right-color : #aac;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #aac;
    border-top-style : solid;
    border-top-width : 2px;
    font-family : 'sans-serif';
    font-size : 10pt;
    line-height : 140%;
    margin-left : 140px;
    margin-top : -2px;
    padding-bottom : 0;
    padding-left : 25px;
    padding-right : 1em;
    padding-top : 2px;
  }


.langnomatch {
    /* perhaps only French, but foreign languages have to be italicized */ font-size : 12pt;
    background-color : #fff0dd;
    background-image : url('css-shadow.png');
    background-position : top left;
    background-repeat : repeat-y;
    display : inline;
    font-family : 'sans-serif';
    font-style : italic;
    padding-bottom : 0;
    padding-left : 1em;
    padding-right : 1em;
    padding-top : 0;
  }


#panose_block {
display:table;
width:100%;
    background-color : #aac;
/*    height : 100%;*/
    margin-top : 3pt;
  }


#panose_block:before {
     float : left;
     color : white;
    content : "PANOSE";

/*     display : block;*/
     font-size : 20pt;
    font-style : italic;
    /* height : inherit;
    *//* margin-top : 15px;
    */ /* padding-left : 3px;*/
  }


.panose_name {
width:40%;
float:left;
/*display:block;*/
    font-size : 9pt;

    color : red;
/*    float : left;*/
/*    font-variant : small-caps;*/
  }


.panose_desc {
width:50%;
    float:right;
    background-color:#888;
    margin:3pt;
    line-height:20pt;
    font-size:11pt;
  }


.panose_desc:after {
    content: " ";
  }


.panose_desc:first-letter {
    font-size: 200%;
    float: left ;
    background-color:white;
  }


.panose_desc:hover {
    background-color:#eee;
  }

/*#file {
    background-color : #000000;
    color : #d0d0d0;
    font-family : monospace;
    font-size : 8pt;
    margin-top : -10pt;
    padding-left : 6pt;
  }*/


#file {
    float:right;
    background-color : #ddd;
    color : #333;
    font-family : monospace;
    font-size : 8pt;
    margin-top : -20pt;
    padding-left : 6pt;
    padding-right: 5px;
  }

