/* info.css */
body{
	background-color: #223;
}

/******* Welcome message *********/
body.welcome-wrapper{
	background-color: #223;
}
/* The name of the font */
#welcome-font{
	font-size: 10pt;
	font-style: italic;
	color: white;
	/* Qt does not support text-align :(*/
	/*text-align:right;*/
	margin-right: 16px;
}

.welcome-par{
	margin-right: 16px;
	margin-left: 32px;
	background-color: #555;
	color: #ddd;
}

/* Qt seems to not so well handle heritance */
.welcome-listitem{
	text-indent: 20px;
	background-color: #555;
	color: #ddd;
}
/******* Informations ************/

#headline {
	display:inline;
    background-color : black;
    color : white;
    font-family : 'sans-serif';
    font-size : 18pt;
    line-height:30pt;
    font-weight : bold;
   padding : 4pt;
  }


#technote {
text-align:center;
    font-family : 'sans-serif';
    background-color : #eee;
    color : black;
    font-size : 10pt;
    line-height:10pt;
    margin-bottom: 10pt;
  }


.infoblock {
    font-family : 'sans-serif';
    font-size : 11pt;
/*     border-bottom : 1px dashed white; */
    margin-bottom: 12pt;
    
/*    text-indent : 10px;*/
  }
  
.infoblock  a{
	color:#a44;
}


.infoname {
    float:left;
    background-color : #aac;
    font-family : 'sans-serif';
    font-size : 9pt;
    font-weight : bold;
    width : 20%;
    margin-right:12pt;
  }


.langmatch {
	display:inline;
    font-family : 'sans-serif';
    font-size : 12pt;
	background-color: #fff0dd;
	padding : 0 1em 0 1em;
  }


.langundefined {
	display:inline;
    font-family : 'sans-serif';
    font-style:italic; 
    font-size : 12pt;
	background-color: #fff0dd;
	padding : 0 1em 0 1em;
  }


.langnomatch {
	display:inline;
    font-family : 'sans-serif';
    font-style:italic; /* perhaps only French, but foreign languages have to be italicized */
    font-size : 12pt;
	background-color: #fff0dd;
	padding : 0 1em 0 1em;
  }

#panose_block{
	background-color:gray;
	margin-top:10pt;
}
#panose_block:before{
	content:"PANOSE";
	font-style:italic;
	font-size:20pt;
	color:red;
	padding-left:30pt;
}

.panose_name{
	float: left ;
/* 	display:inline; */
	font-size : 8pt;
	color:red;
}

.panose_desc{
	float: left ;
	background-color:#888;
	margin:3pt;
	line-height:20pt;
	font-size:11pt;
}
.panose_desc:after{
	content: " ";
}

.panose_desc:first-letter{
	font-size: 200%;
	float: left ;
	background-color:white;
}

.panose_desc:hover{
	background-color:#eee;
}