
# /
/bin
/templates
/Doxyfile
/typotek.kdevelop
/typotek.kdevelop.pcs
/typotek.kdevses
/Makefile
/fontmatrix.kdevelop
/fontmatrix.kdevelop.filelist
/fontmatrix.kdevelop.pcs
/fontmatrix.kdevses

CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
CMakeFiles/

# /harfbuzz/
/harfbuzz/.git
/harfbuzz/tests
/harfbuzz/.gitignore

# /src/
/src/Makefile
/src/customscene.cpp
/src/customscene.h
/src/moc_*.cpp
/src/qrc_*.cpp
/src/moc_*.cpp_parameters
/src/ui_*.h
/src/*.qm
/src/mainview.ui_BAK
/src/Makefile.Release
/src/Makefile.Debug
/src/qmake_image_collection.cpp
/src/fontmatrix_splashscreen.png

# /src/messages/
/src/messages/about.html~
