[Desktop Entry]

Encoding=UTF-8
Version=1.0
Type=Application
Name=Fontmatrix
Comment=A font manager
Comment[ru]=Программа для управления шрифтами
Categories=Graphics;VectorGraphics;
Exec=fontmatrix
Icon=fontmatrix
Terminal=false
GenericName=Font Manager
GenericName[fr]=Gestion des Polices
GenericName[ru]=Управление шрифтами
TryExec=fontmatrix
X-StandardInstall=false
StartupWMClass=fontmatrix
X-KDE-SubstituteUID=false
