[Desktop Entry]

Encoding=UTF-8
Version=1.0
Type=Application
Name=Fontmatrix
Comment=A font manager
Categories=Graphics;VectorGraphics;
Exec=fontmatrix
Icon=fontmatrix
Terminal=false
GenericName[fr]=Gestion des Polices
TryExec=fontmatrix
X-StandardInstall=false
StartupWMClass=fontmatrix
X-KDE-SubstituteUID=false