[Desktop Entry]
Encoding=UTF-8
Version=0.0svn
Type=Application
Name=Typotek
Comment=A fonts manager
TryExec=typotek
Exec=typotek
Icon=typotek.png
Categories=Utility