<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<area text="Welcome" file="index.html">
		<submenuitem text="What's new" file="news.html"/>
	</area>

	<area text="The very basics" file="basics.html">
		<submenuitem text="Why using a font manager" file="why_management.html" />
		<submenuitem text="Why Fontmatrix" file="why_fontmatrix.html" />
<!--		<submenuitem text="What exactly fonts are" file="what_fonts_are.html" /> -->
	</area>

	<area text="User interface" file="interface.html">
	</area>

	<area text="Fonts management" file="management.html">
		<submenuitem text="Importing fonts" file="management_importing.html"/>
		<submenuitem text="Activating and deactivating fonts" file="management_activation.html"/>
		<submenuitem text="Using tags" file="management_tags.html"/>
	</area>

	<area text="Viewing fonts" file="viewing.html">
		<submenuitem text="Font overview" file="viewing_overview.html"/>
		<submenuitem text="Sample text" file="viewing_sample_text.html"/>
		<submenuitem text="Glyphs chart" file="viewing_glyphs_chart.html"/>
	</area>

	<area text="Searching for fonts" file="search.html">
		<submenuitem text="Generic metadata fields search" file="search_in_generic_metadata.html"/>
		<submenuitem text="PANOSE metadata search" file="search_in_panose.html"/>
		<submenuitem text="Searching using bitmap samples" file="search_using_bitmap_samples.html"/>
	</area>

	<area text="Comparisons" file="comparisons.html">
		<submenuitem text="Comparison of fonts" file="comparisons_fonts.html"/>
		<submenuitem text="Comparison of glyphs" file="comparisons_glyphs.html"/>
	</area>

	<area text="Exporting and printing" file="output.html">
		<submenuitem text="Exporting fonts" file="export_fonts.html"/>
		<submenuitem text="Printings fonts" file="printing_fonts.html"/>
	</area>

	<area text="Font books" file="font_books.html">
		<submenuitem text="Creating font books" file="creating_font_books.html"/>
		<submenuitem text="Creating font book templates" file="font_book_templates.html"/>
	</area>

	<area text="Additional tools" file="additional.html">
		<submenuitem text="Checking database" file="additional_db_check.html"/>
		<submenuitem text="Editing PANOSE metadata" file="additional_editing_panose.html"/>
		<submenuitem text="Viewing TrueType tables" file="additional_ttf_tables.html"/>
		<submenuitem text="Extracting fonts from documents" file="additional_extracting_fonts.html"/>
		<submenuitem text="Exporting font info for packaging" file="additional_export_for_packaging.html"/>
	</area>

	<area text="Scripting" file="scripting.html">
	</area>

	<area text="Setting up" file="setting_up.html">
		<submenuitem text="Preferences" file="setting_up_preferences.html">
			<submenuitem text="General" file="setting_up_preferences_general.html"/>
			<submenuitem text="System tray" file="setting_up_preferences_system_tray.html"/>
			<submenuitem text="Display" file="setting_up_preferences_display.html"/>
			<submenuitem text="Service" file="setting_up_preferences_service.html"/>
			<submenuitem text="Samples collection" file="setting_up_preferences_samples_collection.html"/>
			<submenuitem text="Files &amp; folders" file="setting_up_preferences_files_and_folders.html"/>
			<submenuitem text="Shortcuts" file="setting_up_preferences_shortcuts.html"/>
		</submenuitem>
		<submenuitem text="Text layout engine options" file="setting_up_layout_engine_options.html"/>
	</area>

	<area text="Contributing to this project" file="contributing.html">
		<submenuitem text="Testing and reporting" file="contributing_testing.html"/>
		<submenuitem text="Translating" file="contributing_translating.html"/>
		<submenuitem text="Programming" file="contributing_programming.html"/>
	</area>

	<area text="Useful online resources" file="resources.html">
	</area>

	<area text="External tools" file="external_tools.html">
	</area>

</menu>
