<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<area text="Welcome" file="index.html">
		<submenuitem text="News" file="readme.html"/>
	</area>

	<area text="User interface" file="interface.html">
	</area>

	<area text="Fonts management" file="management.html">
	</area>

	<area text="Search" file="search.html">
	</area>

	<area text="Comparisons" file="comparisons.html">
	</area>

	<area text="Exporting and printing" file="output.html">
		<submenuitem text="Exporting fonts" file="export_fonts.html"/>
		<submenuitem text="Printings fonts" file="printing_fonts.html"/>
		<submenuitem text="Creating font books" file="creating_font_books.html"/>
	</area>

	<area text="Additional tools" file="additional.html">
	</area>

	<area text="Scripting" file="scripting.html">
	</area>

	<area text="Various resources" file="resources.html">
	</area>

</menu>
