/*
	Informations (Fontmatrix) 
	base style 
*/

*{
	border:0;
	margin:0;
	padding:0;
}

body{
	background-color : #fefefe;
}

#headline {
/*    text-shadow: black 4px 4px 2px; */
    background-color : #ff3f00;
    color : white;
    font-family : 'sans-serif';
    font-size : 18pt;
    font-weight : bold;
    line-height : 30pt;
    padding-bottom : 4pt;
    padding-left : 6pt;
    padding-right : 4pt;
    padding-top : 4pt;
  }

#file {
	text-align:right;
    background-color : #ddd;
    color : #333;
    font-family : monospace;
    font-size : 10pt;
}

#general{
	float:left;
	width:75%;
}

.encodingcurrent{
	font-weight:bold;
}

.infoblock {
	clear:both;
}
.infoblock:hover .langundefined {
	border-left : 10pt solid red ;
	color:black;
}
.infoblock:hover .infoname
{
	color:red;
}


.infoname {
	text-align:right;
    background-color : #fefefe;
    color:#333;
/*     background-image : url('css-info-propertyname.png'); */
    background-repeat : repeat-y;
    float : left;
    font-family : 'sans-serif';
    font-size : 10pt;
    font-style : italic;
    font-weight : bold;
    line-height : 200%;
    padding-right : 1%;
    width : 30%;
  }


.langmatch {
    color: #333;
    background-color : #fefefe;
    margin-left : 31%;
    border-left : 10pt solid gray ;
    padding-left: 6pt;
    font-family : 'sans-serif';
    font-size : 10pt;
    line-height : 20pt;
  }


.langundefined {
    color: #444;
    background-color : #fefefe;
    margin-left : 31%;
    border-left : 10pt solid gray ;
    padding-left: 6pt;
    font-family : 'sans-serif';
    font-size : 10pt;
    line-height : 20pt;
  }


.langnomatch {
    color: #444;
    background-color : #fefefe;
    margin-left : 31%;
    border-left : 10pt solid gray ;
    padding-left: 6pt;
    font-family : 'sans-serif';
    font-style : italic;
    font-size : 10pt;
    line-height : 20pt;
  }


#panose_block {
    background-color : #fafafa;
    margin-left:80%;
    padding:1pt;
/*     border-left: 2px solid black; */
  }


.panose_name {
	text-align:left;
	font-style:italic;
    font-size : 9pt;
    color : gray;
  }


.panose_desc {
text-align:center;
    font-size:9pt;
    color:#333;
  }



.panose_desc:hover {
    background-color:white;
    color:black;
  }


#fstype {
	margin-top: 24pt;
	font-style:monospace;
}

#fstype > div{
	margin:4pt 0;
	padding:2pt 0 2pt 2pt;
	border-left:2em solid black;
}

.fsname {
	float:left;
	padding-right: 1em;
	font-weight:bold;
	line-height:9pt;
	font-size:9pt;
}
.fsdesc{
	line-height:9pt;
	font-style:italic;
	font-size:8pt;
}

