<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<area text="Welcome" file="../en/index.html">
		<submenuitem text="What's new" file="../en/news.html"/>
	</area>

	<area text="User interface" file="../en/interface.html">
	</area>

	<area text="Fonts management" file="../en/management.html">
		<submenuitem text="Importing fonts" file="../en/management_importing.html"/>
		<submenuitem text="Using tags" file="../en/management_tags.html"/>
	</area>

	<area text="Viewing fonts" file="../en/viewing.html">
		<submenuitem text="Font overview" file="../en/viewing_overview.html"/>
		<submenuitem text="Sample text" file="../en/viewing_sample_text.html"/>
		<submenuitem text="Glyphs chart" file="../en/viewing_glyphs_chart.html"/>
	</area>

	<area text="Searching for fonts" file="../en/search.html">
		<submenuitem text="Generic metadata fields search" file="../en/search_in_generic_metadata.html"/>
		<submenuitem text="PANOSE metadata search" file="../en/search_in_panose.html"/>
		<submenuitem text="Searching using bitmap samples" file="../en/search_using_bitmap_samples.html"/>
	</area>

	<area text="Comparisons" file="../en/comparisons.html">
		<submenuitem text="Comparison of fonts" file="../en/comparisons_fonts.html"/>
		<submenuitem text="Comparison of glyphs" file="../en/comparisons_glyphs.html"/>
	</area>

	<area text="Exporting and printing" file="../en/output.html">
		<submenuitem text="Exporting fonts" file="../en/export_fonts.html"/>
		<submenuitem text="Printings fonts" file="../en/printing_fonts.html"/>
	</area>

	<area text="Font books" file="../en/font_books.html">
		<submenuitem text="Creating font books" file="../en/creating_font_books.html"/>
		<submenuitem text="Creating font book templates" file="../en/font_book_templates.html"/>
	</area>

	<area text="Additional tools" file="../en/additional.html">
		<submenuitem text="Checking database" file="../en/additional_db_check.html"/>
		<submenuitem text="Editing PANOSE metadata" file="../en/additional_editing_panose.html"/>
		<submenuitem text="Viewing TrueType tables" file="../en/additional_ttf_tables.html"/>
		<submenuitem text="Extracting fonts from documents" file="../en/additional_extracting fonts.html"/>
		<submenuitem text="Exporting font info for packaging" file="../en/additional_export_for_packaging.html"/>
	</area>

	<area text="Scripting" file="../en/scripting.html">
	</area>

	<area text="Setting up" file="../en/setting_up.html">
		<submenuitem text="Preferences" file="../en/setting_up_preferences.html">
			<submenuitem text="General" file="../en/setting_up_preferences_general.html"/>
			<submenuitem text="System tray" file="../en/setting_up_preferences_system_tray.html"/>
			<submenuitem text="Display" file="../en/setting_up_preferences_display.html"/>
			<submenuitem text="Service" file="../en/setting_up_preferences_service.html"/>
			<submenuitem text="Samples collection" file="../en/setting_up_preferences_samples_collection.html"/>
			<submenuitem text="Files &amp; folders" file="../en/setting_up_preferences_files_and_folders.html"/>
			<submenuitem text="Shortcuts" file="../en/setting_up_preferences_shortcuts.html"/>
		</submenuitem>
		<submenuitem text="Text layout engine options" file="../en/setting_up_layout_engine_options.html"/>
	</area>

	<area text="Useful online resources" file="../en/resources.html">
	</area>

</menu>
